/*Estilização do corpo e estrutura inteira do site*/
body{
    background-color:  rgb(33, 31, 31);
    font-family: 'Montserrat', sans-serif;
    margin: 0%;
    color: white;
    font-size: 30px;
}
/*raiz das cores*/
:root{
    --color-dark: #000000;
    --color-grey: #3a3a3a;
}
/*Estilização do header*/
header{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: var(--color-dark);
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    align-items: center;
    box-shadow: 1px 1px 4px var(--color-grey);
}
/*Estilização das Categorias do header*/
#categories{
 padding-right: 10px;

}
/*Estilização da logo do header*/
.logo{
    height: 120px;
}
/*Estilização das ul utilizadas no header*/
ul{
    margin: 0;
    padding: 0;
}
/*Estilização das listas do nav do header*/
nav li{
    list-style: none;
    font-size: 25px;

    
}
/*Estilização do posicionamento dos items header*/
ul li{
    display: inline-block;
    position: relative;
}
/*Estilização dos items redirecionaveis do header*/
ul li a{
    display: block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
}
/*Estilização da ul*/
ul{
    margin: 0;
    padding: 0;
}
/*Estilização do menu dropdown do header*/
ul li ul.dropdown{
    background-color: black;
    position: absolute;
    z-index: 999;
   display: none;
    border-radius: 10px;
}
/*Estilização do preenchimento dropdown header*/
ul.dropdown{
    padding: 0;
}
/*Estilização do dropdown transformando o inline em um bloco alterável header*/
ul li ul.dropdown li{
    display: block;
}
/*Estilização do dropdown transformando o inline em um bloco alterável header*/
ul li:hover ul.dropdown{
    display: block;
}
/*Estilização do nav e items do  header*/
 nav a{
    color: white;
    text-decoration: none;
    position: relative;
   
}
/*Estilização da ação dos items header*/
.navigation a::after{
    content: " ";
    width: 0%;
    height: 4px;
    background-image:
     radial-gradient(circle at 92.75% 69.94%, #d037fa 0, #b325f3 25%, #910bea 50%, #6a00e1 75%, #3800d9 100%);
     position: absolute;
     bottom: 0;
     left: 0;
     transition: 0.5s ease-in-out;
}
/*Estilização do hover dos items do header*/
.navigation a:hover::after{
    width: 100%;
    border-radius: 10px;
    background-image:
     radial-gradient(circle at 92.75% 69.94%, #d037fa 0, #b325f3 25%, #910bea 50%, #6a00e1 75%, #3800d9 100%);
}
/*Estilização do Título principal do site*/
#title{
    text-align: center;
    font-size: 35px;
    color: white;
}
/*Estilização do Footer*/
#footer{
    width: 100%;
    margin-bottom: -5px;
    bottom: 0;
}
/*Estilização dos A href da page*/
.as{
    text-decoration: none;
    color: white;
}
/*Estilização da section tais como posicionamento cor e tamanho*/
.cards{
    background-color: #000000;
    display: flex;
    border-radius: 15px;
    margin-top: 15px;
    width: 500px;
}
/*Estilização da section tais como cor e tamanho ao passar o cursor sobre*/
.cards:hover{
    transform: scale(1.1);
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-out;
    color: orchid;

}
/*Estilização das imagens dentro dos cards tais como posicionamento cor da borda e tamanho*/
.imgc{
    width: 180px;
    height: 160px;
    border-radius: 10px;
    border-right-style: solid;
    border-right-color: purple;
    border-right-width: 5px;
    margin-right: 20%;
}
/*Estilização do display dos cards*/
.articles{
    display: flex;
    justify-content: center;

}
/*Estilização do displays e posicionamento dos cards lado esquerdo*/
.art1{
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}
/*Estilização do displays e posicionamento dos cards lado direito */
.art2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*Estilização do posicionamento dos tíitulos da categoria*/
.titles{
    padding-right: 5px;
}
