body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 0);
}

/*Estilização do header*/

header{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: var(--color-dark);
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    align-items: center;
    box-shadow: 1px 1px 4px var(--color-grey);
}
/*Estilização das Categorias do header*/
#categories{
 padding-right: 10px;

}
/*Estilização da logo do header*/
.logo{
    height: 120px;
}
/*Estilização das ul utilizadas no header*/
ul{
    margin: 0;
    padding: 0;
}
/*Estilização das listas do nav do header*/
nav li{
    list-style: none;
    font-size: 25px;

    
}
/*Estilização do posicionamento dos items header*/
ul li{
    display: inline-block;
    position: relative;
}
/*Estilização dos items redirecionaveis do header*/
ul li a{
    display: block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
}
/*Estilização da ul*/
ul{
    margin: 0;
    padding: 0;
}
/*Estilização do menu dropdown do header*/
ul li ul.dropdown{
    background-color: black;
    position: absolute;
    z-index: 999;
   display: none;
    border-radius: 10px;
}
/*Estilização do preenchimento dropdown header*/
ul.dropdown{
    padding: 0;
}
/*Estilização do dropdown transformando o inline em um bloco alterável header*/
ul li ul.dropdown li{
    display: block;
}
/*Estilização do dropdown transformando o inline em um bloco alterável header*/
ul li:hover ul.dropdown{
    display: block;
}
/*Estilização do nav e items do  header*/
 nav a{
    color: white;
    text-decoration: none;
    position: relative;
   
}
/*Estilização da ação dos items header*/
.navigation a::after{
    content: " ";
    width: 0%;
    height: 4px;
    background-image:
     radial-gradient(circle at 92.75% 69.94%, #d037fa 0, #b325f3 25%, #910bea 50%, #6a00e1 75%, #3800d9 100%);
     position: absolute;
     bottom: 0;
     left: 0;
     transition: 0.5s ease-in-out;
}
/*Estilização do hover dos items do header*/
.navigation a:hover::after{
    width: 100%;
    border-radius: 10px;
    background-image:
     radial-gradient(circle at 92.75% 69.94%, #d037fa 0, #b325f3 25%, #910bea 50%, #6a00e1 75%, #3800d9 100%);
}

h1 {
    color: white;
}

h2 {
    color: white;
}

p {
    color: white;
}

label {
    color: white;
}

.pArtigos {
    color: white;
    padding: 10px;
    margin: 0;
}

#articleArt {
    -webkit-box-shadow: 0px 0px 10px 9px rgba(208,55,250,1);
-moz-box-shadow: 0px 0px 10px 9px rgba(208,55,250,1);
box-shadow: 0px 0px 10px 9px #d037fa;
    background-color: #000000;
    width: 90%;
    text-align: left;
    margin-bottom: 7%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

input {
    margin: 1%;
}

#titulo {
    width: 20vw;
    height: 4vh;
}

#resumo {
    width: 40vw;
    height: 5vh;
}

#categorias {
    width: 8vw;
    height: 5vh;
}

#autor {
    width: 15vw;
    height: 4vh;
}

#data {
    width: 10vw;
    height: 5vh;
}

.center{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7%;
}

#divBo{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.painel{
    padding: 5%;
}

.artigosCard{
    -webkit-box-shadow: 0px 0px 10px 9px #d037fa;
-moz-box-shadow: 0px 0px 10px 9px rgba(208,55,250,1);
box-shadow: 0px 0px 10px 9px rgba(208,55,250,1);
    background-color: #000000;
    width: 100%;
    border-radius: 10px;
    text-align: left;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    align-items: flex-start;
    margin-bottom: 5%;
}

#divArtigo{
    width: 90%;
    border-radius: 10px;
    text-align: left;
    margin-bottom: 7%;
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 0;
    align-items: flex-start;
}

.buttonDeletarArtigosCards {
    padding-left: 96%;
}

#infoCard{
    width: 90%;
}

#iconCard{
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 5px;
}

#iconLixeira{
    cursor: pointer;
}

.buttonSub {
	box-shadow: 0px 0px 7px 5px #d037fa;
	background-color:#000000;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:15px 20px;
	text-decoration:none;
	text-shadow:0px 1px 2px #d037fa;
}
.buttonSub:hover {
	background-color:#000000;
}
.buttonSub:active {
	position:relative;
	top:1px;
}

@media screen and (max-device-width: 900px) and (min-device-height:400px) { 
    header {
        height: 70px;
    }

    .logo {
        width: 40%;
        height: 40%;
        padding: 0;
        margin: 0;
    }

    a {
        padding: 0;
        margin: 0;
    }

    ul {
        display: flex;
    }

    #home {
        font-size: 30px;
    }

    #nos {
        display: none;
    }

    #categories {
        display: none;
    }

    #titulo {
        width: 50vw;
        height: 2vh;
        margin-bottom: 5%;
    }
    
    #resumo {
        width: 40vw;
        height: 5vh;
    }
    
    #categorias {
        width: 8vw;
        height: 5vh;
    }
    
    #autor {
        width: 15vw;
        height: 4vh;
    }
    
    #data {
        width: 10vw;
        height: 5vh;
    }
}