body {
    background-color: #000000;
}

#p1 {
    background-image: linear-gradient(to bottom, rebeccapurple, rgb(135, 91, 238), rgb(129, 244, 232));
  background-clip: text;
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  color: black;
  font-family: 'Montserrat', sans-serif;

  
}

h2 {
    background-image: linear-gradient(to bottom, rebeccapurple, rgb(135, 91, 238), rgb(129, 244, 232));
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

#footer {
    width: 100%;
    margin-bottom: -5px;
    height: 600px;
  }
  
  /*Estilização do header*/
header {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: var(--color-dark);
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    align-items: center;
    box-shadow: 1px 1px 4px var(--color-grey);
}

/*Estilização das Categorias do header*/
#categories {
    padding-right: 10px;

}

/*Estilização da logo do header*/
.logo {
    height: 120px;
}

/*Estilização das ul utilizadas no header*/
ul {
    margin: 0;
    padding: 0;
}

/*Estilização das listas do nav do header*/
nav li {
    list-style: none;
    font-size: 25px;


}

/*Estilização do posicionamento dos items header*/
ul li {
    display: inline-block;
    position: relative;
}

/*Estilização dos items redirecionaveis do header*/
ul li a {
    display: block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
}

/*Estilização da ul*/
ul {
    margin: 0;
    padding: 0;
}

/*Estilização do menu dropdown do header*/
ul li ul.dropdown {
    background-color: black;
    position: absolute;
    z-index: 999;
    display: none;
    border-radius: 10px;
}

/*Estilização do preenchimento dropdown header*/
ul.dropdown {
    padding: 0;
}

/*Estilização do dropdown transformando o inline em um bloco alterável header*/
ul li ul.dropdown li {
    display: block;
}

/*Estilização do dropdown transformando o inline em um bloco alterável header*/
ul li:hover ul.dropdown {
    display: block;
}

/*Estilização do nav e items do  header*/
nav a {
    color: white;
    text-decoration: none;
    position: relative;

}

/*Estilização da ação dos items header*/
.navigation a::after {
    content: " ";
    width: 0%;
    height: 4px;
    background-image:
        radial-gradient(circle at 92.75% 69.94%, #d037fa 0, #b325f3 25%, #910bea 50%, #6a00e1 75%, #3800d9 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

/*Estilização do hover dos items do header*/
.navigation a:hover::after {
    width: 100%;
    border-radius: 10px;
    background-image:
        radial-gradient(circle at 92.75% 69.94%, #d037fa 0, #b325f3 25%, #910bea 50%, #6a00e1 75%, #3800d9 100%);
}
  
  #richard {
    margin-right: 500px;
  }
  
  #daniel {
    margin-right: 20px;
  }
  
  #um {
    align-items: center;
    margin: 0;
    padding: 0;
    width: 33.33%;
  }
  
  #dois {
    align-items: center;
    margin: 0;
    padding: 0;
    width: 33.33%;
  }
  
  #tres {
    align-items: center;
    margin: 0;
    padding: 0;
    width: 33.33%;
  }
  
  #quatro {
    align-items: center;
    margin: 0;
    padding: 0;
    width: 33.33%;
  }
  
  #cinco {
    align-items: center;
    margin: 0;
    padding: 0;
    width: 33.33%;
  }
  
  #seis {
    align-items: center;
    margin: 0;
    padding: 0;
    width: 33.33%;
  }

  #time1 {
    display: flex;
    text-align: center;
    padding-top: 3%;
    color: white;
  }

  #time2 {
    display: flex;
    text-align: center;
    padding-top: 7%;
    color: white;
  }
  
  #titulo {
    text-align: center;
    padding-top: 6%;
    color: white;
    font-weight: bold
  }
  /* Estilos do dropdown */
.dropdown {
    display: none;
}

#categorias:hover .dropdown {
    display: block;
}

.dropdown li {
    display: block;
}

.dropdown a {
    padding: 10px;
}

.dropdown a:hover {
    background-color: #000000;
}

  
  @media screen and (max-device-width: 900px) and (min-device-height: 400px) {
    #footer {
      height: 1300px;
    }

    #time1 {
        text-align: center;
        display: block;
    }

    #time2 {
        text-align: center;
        display: block;

    }

    #cinco {
        padding-top: 7%;
        margin-left: -45px;
        width: 500px;
    }

    #seis {
        padding-top: 7%;
        margin-left: -45px;
        width: 500px;
    }

    #um {
        padding-top: 7%;
        margin-left: -45px;
        width: 500px;
    }

    #dois {
        padding-top: 7%;
        margin-left: -45px;
        width: 500px;
    }

    #tres {
        padding-top: 7%;
        margin-left: -45px;
        width: 500px;
    }

    #quatro {
        padding-top: 7%;
        margin-left: -45px;
        width: 500px;
    }
    header {
        height: 70px;
        width: 20px;

    }

    #nos {
        display: none;
    }

    #categorias {
        display: none;
    }


    #footer {
        height: 144vh;
        width: 100vw;
    }

    #home {
        padding-left: 110px;
        margin-top: 30px;
    }

    .logo {
        height: 100px;
        margin-top: 35px;
    }

    
  }
  