#footer {
    width: 100%;
    margin-bottom: -5px;
    height: 600px;
  }
  #header{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: var(--color-dark);
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    align-items: center;
    box-shadow: 1px 1px 4px var(--color-grey);
  }
  #body{
    background-color: red;
  }