body {
    background-color: #000000;
}

p {
    background-image: linear-gradient(to bottom, rebeccapurple, rgb(135, 91, 238), rgb(129, 244, 232));
  background-clip: text;
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;
  color: black;
  font-family: 'Montserrat', sans-serif;

  
}

h2 {
    background-image: linear-gradient(to bottom, rebeccapurple, rgb(135, 91, 238), rgb(129, 244, 232));
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

#footer {
    width: 100%;
    margin-bottom: -5px;
    height: 600px;
  }
  
  #_header{
    width:110% ;
}

.logo {
    width: 40%;
    height: 20%;
    padding: 0;
    margin: 0;
}

a {
    padding: 0;
    margin: 0;
}

ul {
    display: flex;
}

#home {
    font-size: 170%;
    padding-right: 200px;

}

#categorias {
    font-size: 100%;
}

#nos {
    font-size: 100%;
}


  header {
    background-color: var(--color-dark);
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    flex-direction: row;
    align-items: center;
    box-shadow: 1px 1px 4px var(--color-grey);
    height: 100px;
  }
  
  :root {
    --color-dark: #000000;
    --color-grey: #3a3a3a;
  }
  
  body {
    margin: 0;
    font-weight: bold;
  }
  
  header {
    background-color: var(--color-dark);
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    flex-direction: row;
    align-items: center;
    box-shadow: 1px 1px 4px var(--color-grey);
    height: 100px;
  }
  
  nav li {
    list-style: none;
    font-size: 20px;
  }
  
  ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin: 0;
    padding-left: 0;
  }
  
  .navigation a {
    color: white;
    text-decoration: none;
    position: relative;
  }
  
  .navigation li:hover {
    content: " ";
    width: 100%;
    height: 4px;
    background-image: radial-gradient(circle at 92.75% 69.94%, #d037fa 0, #b325f3 25%, #910bea 50%, #6a00e1 75%, #3800d9 100%);
    margin: 0;
  }
  
  #categories {
    margin: 0;
    padding: 0;
  }
  
  .btn_icon_header {
    display: none;
    background-color: transparent;
    border: none;
    color: whitesmoke;
  }
  
  #logo {
    height: 200px;
  }
  
  #richard {
    margin-right: 500px;
  }
  
  #daniel {
    margin-right: 20px;
  }
  
  #um {
    align-items: center;
    margin: 0;
    padding: 0;
    width: 33.33%;
  }
  
  #dois {
    align-items: center;
    margin: 0;
    padding: 0;
    width: 33.33%;
  }
  
  #tres {
    align-items: center;
    margin: 0;
    padding: 0;
    width: 33.33%;
  }
  
  #quatro {
    align-items: center;
    margin: 0;
    padding: 0;
    width: 33.33%;
  }
  
  #cinco {
    align-items: center;
    margin: 0;
    padding: 0;
    width: 33.33%;
  }
  
  #seis {
    align-items: center;
    margin: 0;
    padding: 0;
    width: 33.33%;
  }

  #time1 {
    display: flex;
    text-align: center;
    padding-top: 3%;
    color: white;
  }

  #time2 {
    display: flex;
    text-align: center;
    padding-top: 7%;
    color: white;
  }
  
  #titulo {
    text-align: center;
    padding-top: 6%;
    color: white;
    font-weight: bold
  }
  
  @media screen and (max-device-width: 900px) and (min-device-height: 400px) {
    #footer {
      height: 1300px;
    }

    #time1 {
        text-align: center;
        display: block;
    }

    #time2 {
        text-align: center;
        display: block;

    }

    #cinco {
        padding-top: 7%;
        margin-left: -45px;
        width: 500px;
    }

    #seis {
        padding-top: 7%;
        margin-left: -45px;
        width: 500px;
    }

    #um {
        padding-top: 7%;
        margin-left: -45px;
        width: 500px;
    }

    #dois {
        padding-top: 7%;
        margin-left: -45px;
        width: 500px;
    }

    #tres {
        padding-top: 7%;
        margin-left: -45px;
        width: 500px;
    }

    #quatro {
        padding-top: 7%;
        margin-left: -45px;
        width: 500px;
    }
  }
  