*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    height: 100vh;
    
    
    background: #000000;
}
.swiper-slide{
    flex-shrink: 0;
}
section{
    margin-top: 5%;
}
.swiper{
    width: 75%;
}

section .card .image{
    height: 60%;
    width: 60%;
    border-radius: 100%;
    padding: 4px;
    background: #7d2ae8;
}


section .card .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 100%;
    border: 3px solid #fff;
}
.card {
    position: relative;
    background: #fff;
    border-radius: 20px;
    margin: 20px 1px;
    width: 80%;
    
}
.card::before{
    content: "";
    position: absolute;
    height: 40%;
    width: 100%;
    background: #7d2ae8;
    border-radius: 20px 20px 0 0;
}
.card .card-content{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position:relative;
    z-index: 100;
}

.card .media-icons{
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .media-icons i{
    color: #fff;
    opacity: 0.6;
    margin-top: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.card .media-icons i:hover{
    opacity: 1;
}
.card .name-profession{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    color: #333;
}
#footer{
    bottom: 0;
    margin-bottom: -5px;
    width: 100%;
}
.name-profession .name{
    font-size: 20px;
    font-weight: 90px;
}
.name-profession .profession{
    font-size: 15px;
    font-weight: 60px;
}
.card .rating{
    display: flex;
    align-items: center;
    margin-top: 18px;
}
.card .rating i{
    font-size: 18px;
    margin: 0 2px;
    color:#7d2ae8;
}
.card .button{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.card .button button{
    background: #7d2ae8;
    outline: none;
    border: none;
    color: #fff;
    padding: 8px 22px;
    border-radius: 20px;
    font-size: 14px;
    transition: all 0.3s ease ;
    cursor: pointer;
}
.button button:hover{
    background: #6616d0;
}
/*raiz das cores*/
:root{
    --color-dark: #000000;
    --color-grey: #3a3a3a;
}
/*Estilização do header*/
header{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: var(--color-dark);
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    align-items: center;
    box-shadow: 1px 1px 4px var(--color-grey);
}
/*Estilização das Categorias do header*/
#categories{
 padding-right: 10px;

}
/*Estilização da logo do header*/
.logo{
    height: 120px;
}
/*Estilização das ul utilizadas no header*/
ul{
    margin: 0;
    padding: 0;
}
/*Estilização das listas do nav do header*/
nav li{
    list-style: none;
    font-size: 25px;

   
}
/*Estilização do posicionamento dos items header*/
ul li{
    display: inline-block;
    position: relative;
}
/*Estilização dos items redirecionaveis do header*/
ul li a{
    display: block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
}
/*Estilização da ul*/
ul{
    margin: 0;
    padding: 0;
}
/*Estilização do menu dropdown do header*/
ul li ul.dropdown{
    background-color: black;
    position: absolute;
    z-index: 999;
   display: none;
    border-radius: 10px;
}
/*Estilização do preenchimento dropdown header*/
ul.dropdown{
    padding: 0;
}
/*Estilização do dropdown transformando o inline em um bloco alterável header*/
ul li ul.dropdown li{
    display: block;
}
/*Estilização do dropdown transformando o inline em um bloco alterável header*/
ul li:hover ul.dropdown{
    display: block;
}
/*Estilização do nav e items do  header*/
 nav a{
    color: white;
    text-decoration: none;
    position: relative;
   
}
/*Estilização da ação dos items header*/
.navigation a::after{
    content: " ";
    width: 0%;
    height: 4px;
    background-image:
     radial-gradient(circle at 92.75% 69.94%, #d037fa 0, #b325f3 25%, #910bea 50%, #6a00e1 75%, #3800d9 100%);
     position: absolute;
     bottom: 0;
     left: 0;
     transition: 0.5s ease-in-out;
}
/*Estilização do hover dos items do header*/
.navigation a:hover::after{
    width: 100%;
    border-radius: 10px;
    background-image:
     radial-gradient(circle at 92.75% 69.94%, #d037fa 0, #b325f3 25%, #910bea 50%, #6a00e1 75%, #3800d9 100%);
}