<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link href="./../layouts/footer.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,200&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <footer>


        <article>
            <div id="container">
                <div id="logo_contato_feedback">
                    <img src="./../assets/images/logo White.png" alt="logo mantis" width="60px">
                </div>
                <div id="contato_feedback">
                    <a href="./../pages/contato.html" target="_parent">
                        <p class="ah">Contato</p>
                    </a>
                    <a href="./../pages/feedback.html" target="_parent">
                        <p class="ah">Feedback</p>
                    </a>
                </div>
                <div id="p_direitos">
                    <p>Todos os direitos reservados © 2023</p>
                </div>
                <div id="instagram_linktree">
                    <a href="https://instagram.com/mantistech_?igshid=YmMyMTA2M2Y=" target="_blank">
                        <img src="./../assets/images/logo_instagram.png" width="25px">
                    </a>
                    <a id="a2" href="https://linktr.ee/stefannyrodrioliv?utm_source=linktree_profile_share&ltsid=40ee1662-dc8a-4f94-9d92-40a214348678"
                        target="_blank">
                        <img src="./../assets/images/linktree-logo-icon.png" width="20px">
                    </a>
                </div>
            </div>
        </article>
    </footer>
</body>

</html>