body {
    background-color: rgb(5, 5, 5);
    font-family: 'Montserrat', sans-serif;
    margin: 0%;
    color: white;
}

#header {
    width: 100%;
    margin-top: 0;
}

#title {
    font-size: 30px;
    color: white;
    margin-right: 30%;
    margin-left: 2%;
}

#insta {
    width: 40px;
    height: 40px;
    margin-left: 40%;
    border-radius: 5px;
}

#a111 {
    margin-left: 41%;
}

#footer {
    width: 100%;
    margin-bottom: -5px;
    height: 600px;
}

#not1img {
    margin-left: 5%;
    width: 60%;
    border-radius: 10px;
}

.spa {
    margin-left: 28%;
    color: rgb(166, 163, 163);
}

.notp {
    margin-left: 2%;
    margin-right: 32%;
    font-size: 20px;
}

.titlem {
    margin-left: 22px;
}

.titlemat {
    padding-top: 4%;
    margin-left: 2%;
    margin-right: 32%;
}

.marginleft {
    margin-left: 2%;
    color: white;
}

.divaside {
    width: 30%;
    height: 1900px;
    background-color: rgb(0, 0, 0);
    right: 0;
    top: 159px;
    position: absolute;
}

.asimg {
    width: 180px;
    height: 110px;
    border-radius: 10px;
}

.asimg1 {
    width: 190px;
    height: 120px;
    border-radius: 10px;
}

.asimg1:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}

.asimg:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}

.asimg2:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}

.asimg2 {
    width: 180px;
    height: 120px;
    border-radius: 10px;
}

.flex {
    display: flex;
    margin-bottom: 5%;
}

.pa {
    margin-left: 10px;
}

.pa:hover {
    color: blueviolet;
}

/*aside mostrando os outros jogos*/
.aaside {
    text-decoration: none;
    display: flex;
    color: white;
}

/*alteração no botão*/
.myButton {
    background: var(--color-gradient);
    background-color: black;
    border-radius: 9px;
    border: 1px solid #c584f3;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 26px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #9639e3;
    margin-left: 2%;
}

.myButton:hover {
    background: linear-gradient(to bottom, #bc80ea 5%, #dfbdfa 100%);
    background-color: #bc80ea;
}

.myButton:active {
    position: relative;
    top: 1px;
}

/*logo do xbox */
#logoxbox {
    margin-left: 2%;
    border: 1px solid green;
}

/*logo do playstation*/
#logops4 {
    margin-left: 2%;
    border: 1px solid blue;

}

/* logo da steam */
#logosteam {
    margin-left: 2%;
    border: 1px solid grey;

}

/* palavra para comprar */
.adquirir {
    background: var(--color-gradient);
    background-color: black;
    border-radius: 9px;
    width: 22%;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 26px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #9639e3;
    margin-left: 2%;
}

/*Comentários*/
#divcomentarios {
    width: 100%;
}

.sectioncomentarios {
    background-color: black;
    display: flex;
    margin: 10px;
}

.imgdepoimentos {
    width: 100px;
    margin: 10px;
    border: 5px outset purple;
    height: 100px;
}

.nomedepoimentos {
    color: purple;
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
}

#estrelaavaliacao {
    width: 2%;
    border: none;
    margin: 5px;
}

#nomeeinsta {
    width: 100%;
}

#divcomentarios {
    align-items: center;
}

#div_bottom {
    margin-bottom: 10px;
}

/*raiz das cores*/
:root {
    --color-dark: #000000;
    --color-grey: #3a3a3a;
}

/*Estilização do header*/
header {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background-color: var(--color-dark);
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    align-items: center;
    box-shadow: 1px 1px 4px var(--color-grey);
}

/*Estilização das Categorias do header*/
#categories {
    padding-right: 10px;

}

/*Estilização da logo do header*/
.logo {
    height: 120px;
}

/*Estilização das ul utilizadas no header*/
ul {
    margin: 0;
    padding: 0;
}

/*Estilização das listas do nav do header*/
nav li {
    list-style: none;
    font-size: 25px;


}

/*Estilização do posicionamento dos items header*/
ul li {
    display: inline-block;
    position: relative;
}

/*Estilização dos items redirecionaveis do header*/
ul li a {
    display: block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
}

/*Estilização da ul*/
ul {
    margin: 0;
    padding: 0;
}

/*Estilização do menu dropdown do header*/
ul li ul.dropdown {
    background-color: black;
    position: absolute;
    z-index: 999;
    display: none;
    border-radius: 10px;
}

/*Estilização do preenchimento dropdown header*/
ul.dropdown {
    padding: 0;
}

/*Estilização do dropdown transformando o inline em um bloco alterável header*/
ul li ul.dropdown li {
    display: block;
}

/*Estilização do dropdown transformando o inline em um bloco alterável header*/
ul li:hover ul.dropdown {
    display: block;
}

/*Estilização do nav e items do  header*/
nav a {
    color: white;
    text-decoration: none;
    position: relative;

}

/*Estilização da ação dos items header*/
.navigation a::after {
    content: " ";
    width: 0%;
    height: 4px;
    background-image:
        radial-gradient(circle at 92.75% 69.94%, #d037fa 0, #b325f3 25%, #910bea 50%, #6a00e1 75%, #3800d9 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

/*Estilização do hover dos items do header*/
.navigation a:hover::after {
    width: 100%;
    border-radius: 10px;
    background-image:
        radial-gradient(circle at 92.75% 69.94%, #d037fa 0, #b325f3 25%, #910bea 50%, #6a00e1 75%, #3800d9 100%);
}
/*tirando a linha de baixo do texto*/ 
a{
    text-decoration: none;
}

/*
@media (max-device-width: 900px) and (min-device-height: 400px){
    header{
        width: 800px;
    }
    #footer{
        width: 900px;
        height: 1300px;
    }
    aside{
        display: none;
    }
    .marginleft{
        width: 100%;
        font-size: 20px;
        margin-left: 200px;
    }
    #not1img{
        margin-left: 300px;
    }
    .titlem{
        width: 100%;
        margin-left: 250px;
    }
    .notp{
        width: 90%;
        padding-left: 3%;
        margin-left: 230px;
        font-size: 30px;
    }
    .spa{
        margin-left: 300px;
    }
    .titlemat{
        width: 100%;
        margin-left: 220px;
    }
    .adquirir{
        width: 100%;
        margin-left: 300px;
    }
    #logoxbox{
        margin-left: 400px;
        
    }
    #logops4{
        margin-left: 400px;
    }
    #logosteam{
        margin-left: 400px;
    }
    #divcomentarios{
        width: 800px;
    }
    p{
        font-size: 20px;
    }
    #estrelaavaliacao{
        width: 20px;
    }
}
*/

@media screen and (max-device-width: 900px) and (min-device-height:400px) { 

    header {
        height: 70px;
    }

    .logo {
        width: 20%;
        height: 100%;
        padding: 0;
        margin: 0;
    }

    a {
        padding: 0;
        margin: 0;
    }

    ul {
        display: flex;
    }

    #home {
        font-size: 100%;
    }

    #categorias {
        font-size: 100%;
    }

    #nos {
        font-size: 100%;
    }

    #video2 {
        width: 95vw;
        height: 30vh;
    }

    aside {
        display: none;
    }

    .titlemat {
        text-align: center;
    }

    .not1img {
        text-align: center;
    }
    
    p {
        padding-left: 5%;
    }

    .notp {
        padding-left: 3%;
        width: 90%;
    }

    #footer {
        height: 125vh;
    }

    .flex {
        padding: 0;
    }
    #logoxbox{
        margin-left: 200px;
        
    }
    #logops4{
        margin-left: 200px;
    }
    #logosteam{
        margin-left: 200px;
    }
    .adquirir{
        width: 70%;
        margin-left: 100px;
    }
    #estrelaavaliacao{
        width: 20px;
    }
    .titlemat{
        width: 70%;
        margin-left: 80px;
    }
}
